body {
  font-family: sans-serif;
  padding: 0 20px;
}

img {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

h1,
h2,
h3 {
  color: #231d3c;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  font-family: "Mooli", sans-serif;
}
.facebook.icon {
  color: blue;
  font: size 500px;
}
.heart.icon {
  color: red;
  font-size: 100px;
}
.person.icon {
  color: chartreuse;
  font-size: 300px;
}
